@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-bg:hover{
  background-color: green !important;
  color: white !important;
}

.custom-dropdown:hover{
 background-color: silver !important;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex !important;
  flex-direction: row !important; 
}
